@charset "UTF-8";
html {
  color: #444;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body, div, span, a, del, img, small, strong, sub, sup, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, label, legend, input, button, textarea, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0; }

html, body {
  font: 400 14px proxima-nova,"Hiragino Sans GB","Wenquanyi Micro Hei","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei","WenQuanYi Zen Hei","Microsoft YaHei","Apple LiGothic Medium",SimHei,"ST Heiti","WenQuanYi Zen Hei Sharp";
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-stroke: 1px transparent; }

pre {
  font-family: proxima-nova,"Hiragino Sans GB","Wenquanyi Micro Hei","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei","WenQuanYi Zen Hei","Microsoft YaHei","Apple LiGothic Medium",SimHei,"ST Heiti","WenQuanYi Zen Hei Sharp";
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-stroke: 1px transparent; }

input, button, textarea {
  font: 400 14px/1 Helvetica, Arial, Tahoma, 'WenQuanYi Micro Hei', 'Microsoft YaHei', 'Hiragino Sans GB','黑体', sans-serif;
  color: #666; }

/* button, select, textarea { font-size: 100%; }使得表单元素在 ie 下能继承字体大小 */
/*input[type="text"], input[type="password"] { font-size: 100%; }*/
input {
  width: auto; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

fieldset, img {
  border: 0; }

img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

del {
  text-decoration: line-through; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400; }

ul, ol, li {
  list-style: none; }

a {
  color: #2b81dc; }

a:hover, a:focus {
  text-decoration: none; }

ins, a {
  text-decoration: none;
  outline: none; }

a:focus, :focus {
  outline: none; }

small {
  font-size: 12px; }

b {
  font-weight: normal; }

blockquote {
  border-left: 6px solid #247fdf;
  padding-left: 10px;
  color: #247fdf;
  font-size: 16px;
  margin: 20px 0;
  position: relative; }

blockquote em {
  position: absolute;
  background: #247fdf;
  color: #fff;
  right: -30px;
  top: -10px;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 12px; }

input, textarea, select {
  outline: none;
  -webkit-apperence: none;
  vertical-align: middle; }

textarea {
  resize: vertical;
  line-height: 20px;
  border-radius: 5px;
  padding: 8px 10px;
  border: 1px solid #999; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  *clear: both; }

i {
  font-style: normal;
  font-family: 'iconfont'; }

input[type="checkbox"] {
  vertical-align: inherit; }

.mir {
  letter-spacing: -1000em;
  text-indent: -999em;
  overflow: hidden; }

/* Just for Opera, but hide from MacIE */
/*\*/
html > body .mir {
  letter-spacing: normal;
  text-indent: -999em;
  overflow: hidden; }

/* End of hack */
.fullpage {
  width: 100%;
  height: 100%;
  background: url("../images/banner3.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.banner {
  overflow: auto;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center; }

.content {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); }

.personalInfo {
  background: url("../images/header.jpg") no-repeat;
  background-size: 88px;
  padding-left: 100px;
  min-height: 88px; }
  .personalInfo h1 {
    font-size: 20px; }
  .personalInfo li i {
    display: inline-block;
    width: 60px; }

.aboutme p {
  text-indent: 2em;
  margin-top: 5px; }

.timeline {
  position: relative; }
  .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #E5E5E5;
    left: 200px; }
  .timeline li {
    position: relative;
    display: flex;
    flex-flow: row;
    margin: 20px 0; }
    .timeline li .time {
      display: block;
      width: 160px; }
      .timeline li .time span, .timeline li .time em {
        display: block;
        text-align: right; }
      .timeline li .time span {
        font-size: 16px;
        font-style: italic; }
      .timeline li .time em i {
        font-size: 18px; }
    .timeline li .icon {
      width: 40px;
      height: 40px;
      margin: 0 20px;
      speak: none;
      font-size: 1.4em;
      line-height: 40px;
      color: #fff;
      background: #FFC900;
      box-shadow: 0 0 0 5px rgba(255, 202, 0, 0.3);
      border-radius: 50%;
      text-align: center; }
    .timeline li .label {
      background-image: linear-gradient(222deg, #FFC900 0, #FFA32B 33%, #FFD60D 47%, #FFA32B 84%, #FFC900 100%);
      color: #fff;
      padding: 2em;
      font-size: 1.2em;
      font-weight: 300;
      line-height: 1.4;
      position: relative;
      border-radius: 5px;
      display: flex;
      flex-flow: column;
      flex: 1; }
      .timeline li .label:after {
        right: 100%;
        border: 10px solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        top: 10px;
        border-right-color: #FFA32B; }
    .timeline li:nth-child(2) .icon {
      background: #671878;
      box-shadow: 0 0 0 5px rgba(103, 24, 120, 0.3); }
    .timeline li:nth-child(2) .label {
      background-image: linear-gradient(222deg, #ff272d 0, #c42482 33%, #ab217f 47%, #671878 84%, #4a1475 100%); }
      .timeline li:nth-child(2) .label:after {
        border-right-color: #671878; }
    .timeline li:nth-child(3) .icon {
      background: #0078C1;
      box-shadow: 0 0 0 5px rgba(0, 120, 193, 0.3); }
    .timeline li:nth-child(3) .label {
      background-image: linear-gradient(222deg, #4a1475 0, #0078C1 100%); }
      .timeline li:nth-child(3) .label:after {
        border-right-color: #2464b2; }

.guangshu {
  background: url(../images/banner3.jpg) no-repeat;
  animation: gaoguang 8s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

@keyframes gaoguang {
  0% {
    background-position: 50% 0%; }
  100% {
    background-position: 100% 100%; } }

/*# sourceMappingURL=style.css.map */
